<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Recuperar contraseña</h3>

      <p class="text-center">
        Ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña.
      </p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input
          type="submit"
          class="btn btnPrimary"
          value="Recuperar contraseña"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        />
      </div>
      <div class="redirectToLogin">
        <span
          >Volver a?
          <span class="redirect" routerLink="/sign-in">Log In</span></span
        >
      </div>
    </div>

   
  </div>
</div>
