<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Menu</title>
    <base href="/" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='dashboard.component.scss'>

</head>

<body>
  

    
  <div>
    <app-navbar></app-navbar>
    <br>
    <br>
    <br>

    <h1>¡Bienvenido!</h1>
    <h2> utiliza el menu para seleccionar un formulario</h2>

    <br>
    <br>
  

  </div>

  <div>
    <iframe width="300" height="300" src="https://www.youtube.com/embed/e5fI_iZG4LY" title="Tutorial  inicial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    position: relative;"></iframe>
    
    <br>

    <h3>Video tutorial</h3>
  </div>

   
    
    
</body>
</html>