<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Menu</title>
    <base href="/" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='dashboard.component.scss'>

</head>

<body>
  

    
  <div>
    <app-navbar></app-navbar>
    <br>
    

    <h1>¡Bienvenido!</h1>
    <h2> utiliza el menú para seleccionar un Procedimiento</h2>

    <br>
    
  

  </div>

  <div>
    <h3>Video tutorial</h3>
    <iframe width="300" height="300" src="https://www.youtube.com/embed/JGVMR0LXUAc" title="Tutorial  inicial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    position: relative;"></iframe>
    
    <br>
    <h4>Contáctanos</h4>
    <h5>jsgoodoy@gmail.com</h5>
    <img class="btn-whatsapp" src="https://clientes.dongee.com/whatsapp.png" width="64" height="64" alt="Whatsapp" onclick="window.location.href='https://wa.me/56947704303?text=Hola!%20Estoy%20interesado%20en%20tu%20servicio'" style="flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin: 0 auto;
    display: flex;
    flex-direction: column;" >
    


  </div>
  
  

   
    
    
</body>
</html>