
    <div class="formularios" *ngFor="let formulario of formularios" style="margin: 0 auto;
    display: flex;
    flex-direction: column;
    display:block;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    position: relativea;
    border-top: 1px solid red;
        border-right: 1px solid red;
        border-bottom: 1px solid red;
  border-left: 1px solid red;
    ">
        
            Muestra = {{formulario.muestra}} <br> Porcentaje Sólido = {{formulario.porcentaje}}% <br> Hora = {{formulario.hora}}
            <button class="btn btn-outline-danger" (click)="onClickDelete(formulario)">Borrar</button>

         
            
            
         

            
        

        
        
        
        
            
    </div>
    
